.basemap{
    stroke: #444;
    opacity: 0.5;
    stroke-width: .5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: all;
}

.flows2D{
    fill: none;
    /*stroke: #444;*/
    stroke: #cf5854;
    opacity: 0.7;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: all;
}

.pies-symbolmap{
    z-index: 2;
}

.label{
    fill: #9b9b9b;
    opacity:0.9;
    pointer-events: all;
    font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
}

.label-symbolmap{
    fill: #9b9b9b;
    opacity:0.9;
    pointer-events: all;
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
}

.chordlabel{
    font-size : 12px;
    fill: #000000;
    stroke-width: .1px;
    text-anchor: middle;
    opacity: 0.65;
    pointer-events: all;
}

.chordMuteRibbon{
    /*fill : #898989;*/
    opacity: 0.1;
}

.chordHighlightRibbon{
    /*fill : #ffff00;*/
    opacity: 0.95;
}


.overlay {
    fill: none;
    pointer-events: all;
}

/* for the 3D part*/
.basemap3D{
    fill: none;
    opacity: 0.8;
    stroke: #eaff94;
    stroke-width: .5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: all;
}

.basemaplabel3D{
    font-size : 50px;
    fill: rgba(8, 9, 11, 0.26);
    stroke-width: .1px;
    text-anchor: middle;
    opacity: 0.45;
    pointer-events: all;
}

.migration_map_div{
    position: absolute;
}



.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.link:hover {
    stroke-opacity: .5;
}

.map-div {
    position: absolute;
    background-color: rgba(0,0,0,0);
    width: 2800px;
    height: 2400px;
}

.citieslines{
    stroke: #ffffff;
    stroke-width: 1px;
    stroke-opacity: 0.4;
}

.citenames{
    text-anchor: middle;
    font-family: "Helvetica Neue", Times, serif;
}


#cardforslides{
    position: absolute;
    opacity: 0.9;
    left: 40%;
    top: 5%;
    z-index: 1;
}

#collapseExample{
    background-color: rgba(255,255,255,0);
    height: 500px;
    width:  500px;
}


#cardbody{
    background-color: rgba(255,255,255,0);

}

#carousel1{
    background-color: rgba(255,255,255,0.5);
    height: 500px;
    width:  500px;
}

#carousel2{
    background-color: rgba(255,255,255,0.5);
    height: 500px;
    width:  500px;
}


.nodebubble {
    cursor: pointer;
}

.nodebubble:hover {
    stroke: #000;
    stroke-width: 1.5px;
}

.nodebubble {
    fill: white;
}
